<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Game</title>
  <link rel="stylesheet" href="/style.css" >
</head>
<body>
  <nav>
    <a href="/welcome">Game rules</a>

  </nav>
  <h1>Rock/Scissors/Paper</h1>
  <%= yield %>
</body>
</html>


<!DOCTYPE html>
<html>
<head>
	<title>Sprout</title>
	<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
	<h1>Mystwood Publishers Ltd.
   h1 {font-family: Palatino, 'Palatino Linotype', serif;}
  </h1>
	<div class="hero">
		<h2>Sprout.</h2>
		<p>A book by J. Daniel Bedford</p>
		<a href="#">Read now.</a>
	</div>
	<p id="footer">&copy; Mystwood Publishers Limited</p>
</body>
</html>
